.overlay {
  width: 100%;
  height: 740px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  transition: background-color 1s ease;
}

.overlay:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

@media screen and (max-width: 1024px) {
  .overlay {
    height: 640px;
  }
}

@media screen and (max-width: 768px) {
  .overlay {
    height: 480px;
  }
}

@media screen and (max-width: 320px) {
  .overlay {
    height: 200px;
  }
}
