.overlay {
  width: 100%;
  min-height: 740px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  transition: background-color 1s ease;
}

.overlay:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

@media screen and (max-width: 1279px) {
  .overlay {
    min-height: 640px;
  }
}

@media screen and (max-width: 1023px) {
  .overlay {
    min-height: 480px;
  }
}

@media screen and (max-width: 767px) {
  .overlay {
    min-height: 200px;
  }
}
